.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading {
  color: #91bf8a;
  font-size: 25px;
}

.underline {
  height: 04px;
  width: 7rem;
  background-color: #70bf4b;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .carousel-inner {
    height: 630px;
  }

  .carousel-item,
  .carousel-item img {
    height: 630px;
    width: 100%;
  }
}
.container {
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .carousel-inner {
    height: 460px;
  }

  .carousel-item,
  .carousel-item img {
    height: 460px;
    width: 100%;
  }
}

.bg-c-light {
  background-color: #040926;
}

.cursor__dot div {
  z-index: 999999 !important;
}

.cursor__dot div:last-child {
  filter: invert(1);
  background-color: var(--primary-color) !important;
}

.cursor__dot div:first-child {
  filter: invert(1);
  background-color: var(--overlay-color) !important;
}

.color_pr {
  color: var(--primary-color) !important;
}

.color_sec {
  color: var(--secondary-color);
}

.contact__form .form-control {
  padding: 1.375rem 0.75rem;
  line-height: 1.5;
  color: white;
  background-color: #040926;
}
.contact__form .form-control:focus{
  border: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #70bf4b;
}
p {
  word-break: break-word;
  hyphens: auto;
}
.contact__form input.form-control {
  margin-bottom: 2em;
  height: calc(2.5em + 0.75rem + 2px);
}

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 999999999;
  background: var(--text-color);
  transform: translateX(100%);
  animation: shift-rightwards 1s ease-in-out infinite;
  animation-delay: 0.3s;
}

@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
